<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-title> Slopes </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item
      *ngFor="let list of wishesService.lists"
      detail
      (click)="listSelected(list)"
    >
      <ion-label>{{ list.title }}</ion-label>

      <ion-note color="tertiary" slot="end"
        >{{ list.items.length }} items</ion-note
      >
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary" (click)="addList()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
